.banner {
  display: flex;
  justify-content:space-between;
  height: 700px;
  margin: 0px;
}
.banner-image {
  height:100%;
  object-fit: cover;
}

.banner-text {
  opacity:90%;
  padding:200px 100px;
  text-align:left;
  width:50%;
  // // top:50%;
  // position: absolute;
}

img {
  height:100%;
  width:100%;
}

.banner h1 {
  color: black;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 96px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

.banner p {
  font-size: 20px;
  color: black;
  text-align: left;
  opacity: .7;
  font-family: 'Playfair Display', serif;
}
