.cocktail-section{
   background-color: #F3EDEE;
   width: 100%;
   padding:0px 0px;
   margin:0px 0px;
}
img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
a {
  color:white;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
}

a:hover{
  color:white;
  text-decoration: none;
}
.cocktail-list {
  padding: 40px;
}
.cocktail-category {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  height: 500px;
  padding: 32px;
}
.center-button{
  height:40px;
  padding: 0px 20px;
}
.button-cocktail{
  text-decoration: none;
  border: none;
  color: black;
  opacity: 0.8;
  padding-bottom:32px;
}

.button-cocktail:hover{
  text-decoration: underline;
  color:black;
  opacity:0.8;
}




