.footer {
  display: block;
  height: 50px;
  width: 100%;
  background-color: purple;
  position: fixed;
  bottom: 0;
}

p {
  text-align: center;
  color: white;
}

.footer-text {
  margin-top: 15px;
}
