.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-family: 'Playfair Display', serif;
  height: 40px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

p{
  margin:16px auto;
}
